@import url('https://font.googleapis.com/css2?family*Roboto:wght0100;300;400;500;700diplsay=spaw');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Courier New', cursive;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-colour: #fff;
    --text-colour: #314862;
    --second-colour: #192f6a;
    --main-colour: #2288ff;
    --box-shadow: 2px 2px 18px rgba(14 52 54 / 15%);
}

img {
    width: 100%;
}

section {
    padding: 4.5rem 0 3rem;
}

body {
    color: var(--text-colour);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-colour);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-colour);
    text-transform: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-colour);
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-colour);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .42s ease;
}

.navbar a:hover {
    color: var(--main-colour);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

.btn {
    padding: 8px 22px;
    background: var(--main-colour);
    color: var(--bg-colour);
    border-radius: 5rem;
    transition: all .42s ease;
}

.btn:hover {
    background: var(--second-colour);
}

.home {
    margin-top: 5rem;
    background: url(/images/Home.jpg) center center / cover no-repeat;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.home-text {
    padding-left: 35px;
}

.home-text h1 {
    color: #2288ff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,auto));
    gap: 2rem;
}

.about-img img {
    border-radius: 3rem 0 3rem 3rem;
}

.about-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-colour);
}

.about-text h2 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}

.sales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    gap: 2.4rem;
}

.sales .box {
    padding: 20px;
    background: var(--bg-colour);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}

.sales .box:hover {
    background: var(--main-colour);
    color: var(--bg-colour);
    transition: 0.4s all ease;
}

.sales .box .bx {
    padding: 10px;
    border-radius: 50%;
    background: #f6f6fe;
    color: var(--main-colour);
    font-size: 20px;
}

.sales .box h3 {
    font-size: 1.1rem;
    margin: 1rem 0 0.4rem;
}

.sales .box p {
    font-size: 00.938rem;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    font-weight: 500;
    color: var(--main-colour);
}

.heading h2 {
    font-size: 1.7rem;
}

.heading p {
    font-size: 0.938rem;
}

.properties {
    background: #fbfbfb;
    border-radius: 2rem;
}

.properties-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 3rem;
    padding: 0 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.properties-container img {
    border-radius: 13px;
}

.properties-container button {
    border-radius: 13px;
    background: #2288ff;
    transition: .42s all ease;
}

.properties-container button:hover {
    background: var(--main-colour);
    color: var(--bg-colour);
    transition: 0.4s all ease;
}

.properties-container button:hover {
    background: var(--second-colour);
}

.properties-container .box {
    background: var(--bg-colour);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.properties-container .box:hover {
    transform: translateY(-10px );
    transition: 0.5s;
}

.properties-container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    float: right;
}

.properties-container .box .content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.properties-container .box .content .text h3 {
    font-weight: 500;
}

.properties-container .box .content .text p {
    font-size: 0.8rem;
}

.properties-container .box .content .icon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.properties-container .box .content .icon .bx {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.properties-container .box .content .icon span {
    font-size: 12px;
    font-weight: 500px;
    margin-left: 4px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    justify-content: center;
    text-align: center;
}

.newsletter h2 {
    font-size: 1.7rem;
}

.newsletter form {
    background: var(--bg-colour);
    box-shadow: var(--box-shadow);
    padding: 6px 10px;
    border-radius: 5rem;
}

.newsletter form input {
    border: none;
    outline: none;
    font-size: 1rem;
}

.newsletter #email-box {
    width: 280px;
}

.newsletter .btn {
    padding: 12px 34px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer {
    background: var(--main-colour);
    color: var(--bg-colour);
    border-radius: 5rem 0 0 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2rem;
}

.footer-container h2 {
    font-size: 1.7rem;
    font-weight: bold;
} 

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer-box a{
    font-size: 0.8rem;
    color: var(--bg-colour);
    font-weight: 400;
    margin-bottom: 0.5rem;
    transition: all .42s ease;
}

.footer-box a:hover {
    color: var(--text-colour);
}

.socail a {
    font-size: 20px;
    margin-right: 1rem;
    transition: all .42s ease;
}

.socail a:hover {
    color: var(--text-colour);
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-colour);
    background: var(--main-colour);
}

.login {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
}

.login-conatiner {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login-conatiner h2 {
    font-size: 1.4rem;
}

.login-conatiner  {
    font-size: 0.9rem;
}

.login-conatiner form {
    display: flex;
    flex-direction: column;
}

.login-conatiner form span {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-bottom: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #192f6a;
    margin: auto;

}

